<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="Database" connectionString="Server=172.27.42.14;Port=5432;User id=pqm;password=dbuser;Database=inventory_ae009_test;" />
  </connectionStrings>
  <appSettings>
    <add key="Product" value="C4879398"/>
    <add key="NumTray" value="3" />
    <add key="NumPack" value="1" />
    <add key="NumCarton" value="2" />
    <add key="NumPallet" value="1" />
    <!--csv字符-->
    <add key="type" value="EE149" />
    <add key="factory" value="NSTD" />
    <add key="building" value="M-2" />
    <add key="line" value="L01" />
    <add key="process" value="VNTRS" />
    <add key="inspect" value="VNTRS" />
    <!--API的工序和地址-->
    <add key="assy_cd" value="TEST" />
    <add key="work_mode" value="INLINE" />
    <add key="API" value="http://10.10.100.80/ee149/ok2aoi/json.php" />
  </appSettings>
</configuration>