<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="Database" connectionString="Server=172.27.42.14;Port=5432;User id=pqm;password=dbuser;Database=traceshipment_ee149;" />
  </connectionStrings>
  <appSettings>
    <add key="Product" value="4878595"/>
    <add key="NumTray" value="3" />
    <add key="NumPack" value="1" />
    <add key="NumCarton" value="2" />
    <add key="NumPallet" value="1" />
  </appSettings>
</configuration>